.servicios{
    background:#d9d9d9;
    padding:50px 20px;
}

.botones-servicios{
    max-width:1200px;
    margin:0 auto;

    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:25px;
}

.boton-verde{
    background:#006633;
    color:white;
    text-decoration:none;

    display:flex;
    align-items:center;
    justify-content:center;

    height:78px;
    border-radius:10px;

    font-size:1.2rem;
    font-weight:700;

    transition:background .3s ease;
}

.boton-verde:hover{
    background:#004d26;
}

@media (max-width:768px){

    .botones-servicios{
        grid-template-columns:1fr;
    }
}

.boton-verde:focus{

    outline:3px solid #FFD54F;

    outline-offset:4px;

}

