.carrusel {
    width: 72%;
    max-width: 850px;
    margin: 40px auto;
    position: relative;
    background: #e5e5e5;
    padding: 15px;
}


/* ===== CARRUSEL PRINCIPAL ===== */

.carrusel-contenedor {
    width: 100%;
    max-width: 1400px;
    height: 650px;   /* altura fija */
    overflow: hidden;
    position: relative;
}

.carrusel-contenedor .slide {
    width: 100%;
    height: 100%;
    display: none;
}

.carrusel-contenedor .slide.activo {
    display: block;
}

.carrusel-contenedor .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* mantiene mismo tamaño visual */
    display: block;
}


/* ===== CARRUSEL SECUNDARIO ===== */

.slides-wrapper {
    width: 100%;
    height: 650px;   /* misma altura */
    overflow: hidden;
}

.slides-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.slides-wrapper img.slide-activa {
    display: block;
}


.anterior,
.siguiente{

    position:absolute;

    top:50%;

    transform:translateY(-50%);

    background:rgba(0,0,0,0.5);

    color:white;

    border:none;

    padding:15px;

    cursor:pointer;

    font-size:25px;

}


.anterior{

    left:15px;

}


.siguiente{

    right:15px;

}

.indicadores{

    position:absolute;

    bottom:15px;

    width:100%;

    display:flex;

    justify-content:center;

    gap:12px;

}

.punto{

    width:14px;

    height:14px;

    border-radius:50%;

    background:#cfcfcf;

    transition:0.3s;

}

.punto.activo{

    background:#006b3c;

}

@media(max-width:768px){

    .botones-servicios {
        grid-template-columns: 1fr;
    }

}