.carrusel-final{
    width:100%;
    background:#e5e5e5;
    padding:0.625rem 0 1.25rem;
}

.carrusel-final-contenedor{
    position:relative;
    width:95%;
    max-width:87.5rem;
    margin:0 auto;
}

.slides-final {
    width:100%;
    height:40.625rem;
    overflow:hidden;
}

.slide-final {
    width:100%;
    height:100%;
    object-fit:cover;
    display:none;
}

.slide-final.activa-final {
    display:block;
}

.anterior-final,
.siguiente-final{
    position:absolute;
    top:50%;
    transform:translateY(-50%);

    background:rgba(70,20,50,.85);
    color:white;
    border:none;

    width:3rem;
    height:4.5rem;

    font-size:2rem;
    cursor:pointer;
    z-index:5;
}

.anterior-final{
    left:0.625rem;
}

.siguiente-final{
    right:0.625rem;
}


/* PUNTOS */

.indicadores-final{
    display:flex;
    justify-content:center;
    gap:0.625rem;
    margin-top:0.9375rem;
}

.punto-final{
    width:0.625rem;
    height:0.625rem;
    border-radius:50%;
    background:#c7c7c7;
    transition:background 0.3s ease;
}

.punto-final.activo-final{
    background:#008060;
}
