.carrusel-contenedor {
    position: relative;
    width: 1154px;
    height: 1122px;
    margin: 0 auto;
    background: red;
    overflow: hidden;
}

.carrusel {
    position: relative;
    width: 1154px;
    height: 1122px;
    margin: 0 auto;
}