.carrusel-secundario{
    width:100%;
    background:#e5e5e5;
    padding:1.25rem 0 0.625rem;
}

.carrusel2-contenedor{
    position:relative;
    width:95%;
    max-width:93.75rem;
    margin:0 auto;
}

.slides-wrapper {
    width:100%;
    height:40.625rem;
    overflow:hidden;
}

.slides-wrapper img {
    width:100%;
    height:100%;
    object-fit:cover;
    display:none;
}

.slides-wrapper img.slide-activa {
    display:block;
}

/* Flechas del carrusel */
.anterior2,
.siguiente2{
    position:absolute;
    top:50%;
    transform:translateY(-50%);

    background:rgba(70,20,50,0.85);
    color:white;
    border:none;

    width:3.25rem;
    height:5rem;

    font-size:2rem;
    cursor:pointer;
    z-index:5;
}

.anterior2{
    left:0.625rem;
}

.siguiente2{
    right:0.625rem;
}

/* ===== INDICADORES ESTILO GOOGLE SITES ===== */

.indicadores2 {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:0.625rem;
    margin-top:1.25rem;
}

.punto2 {
    width:0.75rem;
    height:0.75rem;
    border-radius:50%;
    background:#bdbdbd;
}

.punto2.activo-punto2 {
    background:#00a651;
}

/* Animación cuando cambia */
.punto2.animar {
    animation:moverPunto 0.35s ease;
}

@keyframes moverPunto {
    0% {
        transform:scale(0.8);
        opacity:0.4;
    }
    50% {
        transform:scale(1.55);
        opacity:1;
    }
    100% {
        transform:scale(1);
        opacity:0.65;
    }
}
