*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Montserrat',sans-serif;

} 

.lactancia {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    width: 92%;
    max-width: 1450px;
    margin: 60px auto;
}


.lactancia-imagen {
    width: 52%;
    display: flex;
    justify-content: center;
}


.lactancia-imagen img {
    width: 100%;
    height: auto;
    max-height: 1100px;
    object-fit: contain;
    border: none;
}


.lactancia-texto {
    width: 48%;
    font-size: 20px;
    line-height: 1.7;
}


.lactancia-texto h2 {
    font-size: 36px;
    margin-bottom: 20px;
}


.lactancia-texto li {
    margin-bottom: 12px;
    line-height: 1.5;
}

@media(max-width:768px){

    .lactancia{
        flex-direction:column;
    }

    .lactancia-imagen,
    .lactancia-texto{
        width:100%;
    }

}

.carrusel,
.lactancia {
    width: 90%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.antecedentes {
    width: 92%;
    max-width: 1300px;
    margin: 70px auto;
    padding: 40px 50px;
    background: #ffffff;
    border-top: 4px solid #006c3b;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.antecedentes h2 {
    font-size: 38px;
    color: #006c3b;
    margin-bottom: 30px;
    text-align: center;
}

.antecedentes p {
    font-size: 20px;
    line-height: 1.9;
    text-align: justify;
    margin-bottom: 25px;
    color: #222;
}