*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Montserrat',sans-serif;

} 

.lactancia {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    width: 98%;
    margin: 50px auto;
    max-width: 1700px;
    margin: 60px auto;
}


.lactancia-imagen {
    width: 45%;

}


.lactancia-imagen img {
    width: 100%;
    max-width: 900px;
    height: auto;
    object-fit: contain;
    border: none;
}


.lactancia-texto {
    width: 45%;
    font-size: 22px;
    line-height: 1.8;
}


.lactancia-texto h2 {
    font-size: 42px;
    margin-bottom: 25px;
}


.lactancia-texto li {
    margin-bottom: 12px;
    line-height: 1.5;
}

@media(max-width:768px){

    .lactancia{
        flex-direction:column;
    }

    .lactancia-imagen,
    .lactancia-texto{
        width:100%;
    }

}

.carrusel,
.lactancia {
    width: 90%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}