.franja-filosofia {
    width: 100%;
    background: #f6f6f6;
    padding: 2.5rem 0 3.75rem;
    border-top: 0.0625rem solid #d8d8d8;
    border-bottom: 0.0625rem solid #d8d8d8;
}

.filosofia {
    width: 95%;
    max-width: 93.75rem;
    margin: 0 auto;
    padding: 1.25rem 1.875rem;
    position: relative;
    overflow: hidden;
    background: transparent;
}

.filosofia::before {
    content: "";
    position: absolute;
    inset: 0;

    /* imagen de fondo */
    background:
        linear-gradient(rgba(255,255,255,0.55), rgba(255,255,255,0.55)),
        url("../imagenes/logo_transparente.png");

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    pointer-events: none;
}

.filosofia-contenido {
    position: relative;
    z-index: 1;
}

.filosofia h2 {
    color: #000000;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: calc(1.125rem * var(--escala-texto)); /* 18 pt */
    font-weight: 700;
    line-height: 1.38;
    text-align: center;
    margin: 0 0 0.75rem; /* equivalente aproximado a 12px */
}


.filosofia h3 {
    color: #000000;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: calc(0.875rem * var(--escala-texto)); /* 14 pt */
    font-weight: 700;
    line-height: 1.38;
    text-align: justify;
    margin: 0.75rem 0 0.75rem;
}


.filosofia p {
    color: #000000;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: calc(0.875rem * var(--escala-texto)); /* 14 pt */
    font-weight: 400;
    line-height: 1.38;
    text-align: justify;
    margin: 0 0 0.75rem;
}

.filosofia li {
    color: #000000;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: calc(1.167rem * var(--escala-texto));
    font-weight: 400;
    line-height: 1.38;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;
}

/* Palabras en negrita: Integridad, Compromiso, etc. */
.filosofia li strong {
    color: #000000;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: calc(1.167rem * var(--escala-texto));
    font-weight: 700;
    line-height: 1.38;
}

.filosofia ul {
    padding-left: 1.5625rem;
}

.filosofia .integridad {
    margin-top: 1.611rem;
}
