.encabezado{
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    background:transparent;
    width:100%;
    background:transparent;
} 

.contenedor-encabezado {
    max-width:1356px;
    width:100%;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    padding:15px 30px;
    box-sizing:border-box;

}

.logo {
    width:5.14rem;      /* ~82px */
    height:auto;      /* 40px */
    object-fit:contain;
    display:block;
}

.encabezado h1{

    color:white;
    font-size:calc(1.55rem * var(--escala-texto));
    font-weight:700;
    letter-spacing:0.1875rem;
    font-family: 'Montserrat', sans-serif;
     margin:0 0 0 15px;
    line-height:1;
} 


