.encabezado{

    background:#ffffff;

    width:100%;

    padding:15px 0;

    box-shadow:0 2px 8px rgba(0,0,0,.15);

}

.contenedor{

    width:90%;

    margin:auto;

    display:flex;

    align-items:center;

    gap:20px;

}

.logo{

    width:70px;

    height:auto;

}

h1{

    font-size:2rem;

    color:#ffffff;

}