.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url('../imagenes/hospital_01_fachada_panoramica.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.35);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1.25rem;
}

.overlay h2 {
    color: #fff;
    font-size: clamp(3rem, 5vw, 5.5rem);
    font-weight: 700;
    line-height: 1.15;
    margin: 0;
}

@media (max-width: 62rem){

    .hero .overlay h2{
        font-size: 3rem;
    }

}

@media (max-width: 36rem){

    .hero .overlay h2{
        font-size: 2.2rem;
    }

    .logo{
        width: 4.0625rem;
    }

    .logo-link h1{
        font-size: 1.5rem;
    }
}
