.resultados-indicas {
    width: 100%;
    background: white;
    padding: 1.25rem 0 2.5rem;        /* 20px 0 40px */
}

.indicas-contenido {
    width: 95%;
    max-width: 87.5rem;               /* 1400px */
    margin: 0 auto;
    text-align: center;
}

.indicas-contenido h2 {
    color: #006633;
    font-size:calc(2.2rem * var(--escala-texto));
    font-weight: 700;
    margin-bottom: 1.5625rem;         /* 25px */
    text-align: center;
}

/* ===== IMAGEN DEBAJO DEL CARRUSEL INDICAS ===== */

.imagen-indicas-final {
    display: block;

    width: 1154.410px;
    height: 643.938px;

    max-width: 100%;

    margin: 0 auto;

    object-fit: cover;

    border-radius: 0.25rem;
}
/* =========================
   LÍNEA SEPARADORA
========================= */

.linea-separadora {
    width: 90%;
    max-width: 87.5rem;
    height: 0;
    border-top: 0.0625rem solid #dadce0;
    margin: 1.25rem auto;
}

/* ===== TÍTULO RESULTADOS INDICAS ===== */

.titulo-indicas {
    box-sizing: border-box;

    display: block;
    width: 100%;

    margin: 0 0 25px 0;
    padding: 0;

    color: rgb(0, 102, 51);

    font-family: "Montserrat", sans-serif;

    font-size: calc(35.2px * var(--escala-texto));
    font-weight: 700;

    line-height: 42.24px;

    text-align: center;

    text-size-adjust: 100%;
}

@media (max-width: 1200px) {

    .imagen-indicas-final {
        width: 95%;
        height: auto;
        aspect-ratio: 1154.410 / 643.938;
        object-fit: cover;
    }

}