.bloque-institucional {
    width: 100%;

    background: rgba(242, 242, 242, 1);

    /* solo arriba */
    padding-top: 24px;
    padding-bottom: 0;

    box-sizing: border-box;
}

.lactancia {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2.5rem;

    width: 95%;
    max-width: 71.875rem;          /* 1400px */

    margin: 0 auto;
    padding-bottom: 3.125rem;

    border-bottom: 0.125rem solid #dadce0;
    justify-content:center;

    box-sizing: border-box;

}

/* ===== IMAGEN ===== */

.lactancia-imagen {
    width: 760px;
    display: flex;
    justify-content: center;
}

.lactancia-imagen img {
    width: 100%;
    max-width: 47.5rem;          /* 760px */
    height: auto;
    object-fit: contain;
    border: none;
    display:block;

}

/* ===== TEXTO ===== */

.lactancia-texto {
    width: 350px;
    font-family: Arial, sans-serif;
    font-size: calc(1.167rem * var(--escala-texto));
    line-height: 1.2;
    color: #000;
}

/* TÍTULO */
.lactancia-texto h2 {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: calc(1.5rem * var(--escala-texto));
    font-weight: 700;
    line-height: 1.38;
    margin: 0 0 0.667rem 0;
    padding: 0;
}

/* LISTA */
.lactancia-texto ol {
    list-style-type: decimal;
    padding-left: 1.25rem;       /* 20px */
    margin: 0;
}

.lactancia-texto li {
    font-family: Arial, sans-serif;
    font-size: calc(1.167rem * var(--escala-texto));
    font-weight: 400;
    line-height: 1.38;
    margin-bottom: 0.667rem;     /* 8pt aprox */
    color: #000;
}

/* ===== RESPONSIVE ===== */

@media (max-width: 48rem) {

    .lactancia {
        flex-direction: column;
        gap: 1.5rem;
    }

    .lactancia-imagen,
    .lactancia-texto {
        width: 100%;
    }
}

/* =========================================================
   SEPARADOR ANTES DE LACTANCIA
   ========================================================= */

.separador-lactancia {
    width: 100%;

    /* 1 px de línea + 8.5 px blancos */
    height: 9.5px;

    background: #ffffff;

    position: relative;
    box-sizing: border-box;
}

/* Línea gris superior */
.separador-lactancia::before {
    content: "";

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    max-width: 1400px;

    height: 1px;

    background: #d9d9d9;
}


/* =========================================================
   BLOQUE LACTANCIA
   ========================================================= */

.bloque-institucional {
    width: 100%;

    background: rgba(242, 242, 242, 1);

    /* 24 px desde el final de lo blanco */
    padding-top: 24px;
    padding-bottom: 24px;

    box-sizing: border-box;
}
