.organigrama {
    width: 100%;
    background: #ffffff;
    padding: 3.125rem 0;          /* 50px */
}

.organigrama-contenido {
    width: 92%;
    max-width: 78.125rem;         /* 1250px */
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.organigrama-destacada {
    width: 100%;
    max-width: 59.375rem;         /* 950px */
    height: auto;
    border-radius: 0.375rem;      /* 6px */
}
