.servicios-hospital {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5625rem;
    width: 92%;
    max-width: 87.5rem;
    margin: 4.375rem auto;
    padding-top: 2.5rem;
    border-top: 0.0625rem solid #c7c7c7;
}

.servicios-imagen {
    width: 42%;
    display: flex;
    justify-content: center;
}

.servicios-imagen img {
    width: 100%;
    max-width: 32.5rem;
    height: auto;
    border-radius: 0.25rem;
}

.servicios-lista {
    width: 48%;
}

.servicios-lista h2 {
    color: #0052cc;
    font-size:calc(2rem * var(--escala-texto));
    font-weight: 800;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 1.75rem;
}

.servicios-lista ul {
    padding-left: 1.25rem;
}

.servicios-lista li {
     font-size:calc(1rem * var(--escala-texto));
    font-weight: 700;
    margin-bottom: 0.875rem;
    color: #000;
}
