.terminos-condiciones{
    width:100%;
    text-align:center;
    padding:0.9375rem 0 2.5rem;
}

.enlace-terminos{
    color:#006633;
    font-size:calc(1rem * var(--escala-texto));
    font-weight:700;
    text-decoration:underline;
}

.enlace-terminos:hover{
    color:#004d26;
}