.ubicacion-hospital {
    width: 100%;
    background: #ffffff;
    padding: 3.75rem 0;
}

.ubicacion-contenido {
    width: 92%;
    max-width: 78.125rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.4375rem;
}

.mapa-hospital {
    width: 48%;
}

.mapa-hospital iframe {
    width: 100%;
    height: 26.25rem;
    border-radius: 0.25rem;
}

.datos-hospital {
    width: 42%;
}

.datos-hospital h2 {
    font-size:calc(2rem * var(--escala-texto));
    font-weight: 800;
    color: #1f1f1f;
    text-align: center;
    line-height: 1.35;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.datos-hospital p {
    font-size:calc(1rem * var(--escala-texto));
    font-weight: 700;
    color: #222;
    line-height: 1.7;
    margin-bottom: 0.75rem;
}

.datos-hospital strong {
    font-weight: 800;
}

/* ===== TÍTULO JUVENTINO ROSAS ===== */

.titulo-juventino {
    box-sizing: border-box;

    width: 100%;
    margin: 0;
    padding: 0;

    color: rgb(33, 33, 33);

    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;

    text-align: center;

    line-height: 50px;

    overflow-wrap: break-word;
} 

.direccion-texto {
    box-sizing: border-box;
    color: rgb(33, 33, 33);
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: 18.6667px;
    font-style: normal;
    font-weight: 700;
    line-height: 31.1117px;
    overflow-wrap: break-word;
    margin: 0;
}

